@model List<HltvParser.PlayersGear>

@{
    ViewData["Title"] = "PlayersGear";

    var page = Convert.ToInt32(TempData["page"]);
    var pageCount = Convert.ToInt32(TempData["pageCount"]);
}

<h1>პროფესიონალური მოთამაშეების პერიფერია</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<div style="overflow:auto;">
    <table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Team)*@ <span>გუნდი</span>
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Name)*@ <span>სახელი</span>
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Role)*@ <span>როლი</span>
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Mouse)*@ <span>მაუსი</span>
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.KeyBoard)*@ <span>კლავიატურა</span>
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Headset)*@ <span>ყურსასმენი</span>
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Monitor)*@ <span>მონიტორი</span>
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.MonitorHz)*@ <span>მონიტორის ჰერცი</span>
            </th>

            <th>
                @*@Html.DisplayNameFor(model => model.MousePad)*@ <span>მაუსპედი</span>
            </th>

            <th>
                @*@Html.DisplayNameFor(model => model.MouseHz)*@ <span>მაუსის ჰერცი</span>
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.DPI)*@ <span>წერტილები ინჩზე(DPI)</span>
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Sens)*@ <span>სენსიტიურობა</span>
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.GPU)*@ <span>ვიდეო კარტა</span>
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Resolution)*@ <span>რეზოლუცია</span>
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.ScalingMode)*@ <span>სკალირების რეჟიმი</span>
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Team)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mouse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KeyBoard)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Headset)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monitor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MonitorHz)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MousePad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MouseHz)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DPI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sens)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GPU)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Resolution)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScalingMode)
            </td>
        </tr>
}
    </tbody>
</table>

<div class="pagination" style="display: flex; justify-content:center;" id="myPag">
  <a asp-controller="ProPlayerStats" asp-action="PlayersGear" asp-route-id="1">&laquo;</a>
        @{

            for(int i = 1; i <= pageCount-(pageCount-(page+4)); i++)
            {
                if (page != pageCount && page < pageCount)
                {
                    if(page == i)
                    {
                        <a asp-controller="ProPlayerStats" asp-action="PlayersGear" asp-route-id="@i" class="pages active">@i</a>
                    }
                    else
                    {
                        <a asp-controller="ProPlayerStats" asp-action="PlayersGear" asp-route-id="@i" class="pages">@i</a>
                    }
                }
                else
                {
                    <a asp-controller="ProPlayerStats" asp-action="PlayersGear" asp-route-id="@pageCount" class="pages active">@pageCount</a>
                    break;
                }
                
            }
    }
  <a asp-controller="ProPlayerStats" asp-action="PlayersGear" asp-route-id="@pageCount">&raquo;</a>
</div>


</div>
