@model eCommerceForPeripherials.Models.Item

@{
    ViewData["Title"] = "AddToCart";
}

<!-- inner page banner -->
<div id="inner_banner" class="section inner_banner_section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="full">
                    <div class="title-holder">
                        <div class="title-holder-cell text-left">
                            <h1 class="page-title">კალათა</h1>
                            <ol class="breadcrumb">
                                <li><a asp-controller="Home" asp-action="Index">მთავარი</a></li>
                                <li>მაღაზია</li>
                                <li class="active">კალათა</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end inner page banner -->
<div class="section padding_layout_1 Shopping_cart_section" style="background-color:black;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="product-table">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>პროდუქტი</th>
                                <th>რაოდენობა</th>
                                <th class="text-center">ფასი</th>
                                <th class="text-center">სულ</th>
                                <th> </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="col-sm-8 col-md-6">
                                    <div class="media">
                                        <a class="thumbnail pull-left" href="#"> <img width="108" height="108" class="media-object" src="@Html.DisplayFor(model => model.ItemImageUrl)" alt="#"></a>
                                        <div class="media-body">
                                            <h4 class="media-heading"><a href="#">@Html.DisplayFor(model => model.Name)</a></h4>
                                            <span>Status: </span><span class="text-success">In Stock</span>
                                        </div>
                                    </div>
                                </td>
                                <td class="col-sm-1 col-md-1" style="padding-top:4%;">
                                    <input class="form-control" value="1" min="1" max="1" type="number">
                                </td>
                                <td class="col-sm-1 col-md-1 text-center"><p class="price_table" style="color:#b2b2b2;">@Html.DisplayFor(model => model.Price)₾</p></td>
                                <td class="col-sm-1 col-md-1 text-center"><p class="price_table" style="color:#b2b2b2;">@Html.DisplayFor(model => model.Price)₾</p></td>
                                <td class="col-sm-1 col-md-1"><a class="bt_main" asp-controller="Home" asp-action="Index"><i class="fa fa-trash"></i> Remove</a></td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table">
                        <tbody>
                            <tr class="cart-form">
                                <td class="actions">
                                    @*<div class="coupon">
                                        <input name="coupon_code" class="input-text" id="coupon_code" placeholder="Coupon code" type="text">
                                        <input class="btn btn-success" name="apply_coupon" value="Apply coupon" type="submit">
                                    </div>
                                    <input class="btn btn-success" name="update_cart" value="Update cart" disabled="" type="submit">*@
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="shopping-cart-cart">
                    <table>
                        <tbody>
                            <tr class="head-table">
                                <td><h5>კალათა</h5></td>
                                <td class="text-right"></td>
                            </tr>
                            <tr>
                                <td><h4>სულ</h4></td>
                                <td class="text-right"><h4>@Html.DisplayFor(model => model.Price)₾</h4></td>
                            </tr>
                            <tr>
                                <td><h5>მიტანა</h5></td>
                                <td class="text-right"><h4>0.00₾</h4></td>
                            </tr>
                            <tr>
                                <td><h3>მთლიანად</h3></td>
                                <td class="text-right"><h4>@Html.DisplayFor(model => model.Price)₾</h4></td>
                            </tr>
                            <tr>
                                @*<td><button type="button" class="button">Continue Shopping</button></td>*@
                                <td class="col-sm-1 col-md-1"><a asp-controller="Shop" asp-action="Checkout" asp-route-Id="@Model.Id" class="bt_main" style="color:white;"><i class="fa fa-check" style="color:white;"> შეძენა</i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../../../js/jquery.min.js"></script>
<script src='../../../js/hizoom.js'></script>
<script>
    $('.hi1').hiZoom({
        width: 300,
        position: 'right'
    });
    $('.hi2').hiZoom({
        width: 400,
        position: 'right'
    });
</script>


@*<h1>AddToCart</h1>

    <div>
        <h4>Item</h4>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.ItemImageUrl)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.ItemImageUrl)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.ItemName)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.ItemName)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Brand)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Brand)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Connection)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Connection)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Wireless)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Wireless)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.CableLength)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.CableLength)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Colour)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Colour)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.RGB)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.RGB)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>*@
